.video{
    display: block;
    margin: auto;
}

div.start p, div.history p, header p.intro_text{
    line-height: 22px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

body{
    font-family: 'Inconsolata', sans-serif;  
    /* background-image: url('../images/concrete_seamless.png');  */
    background-color: whitesmoke;
}

#contact{
    font-family: 'Inconsolata', sans-serif;  
    /* background-image: url('../images/concrete_seamless.png');  */
    background-color: white;
}

.contact_text{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#logo{
    max-width: 100%;
    height: 200px;
}

#image1, #image2, #image3, #image4, #image5, #image6, #image7, #image8, #image9, #image10, #image11, #image12, #image13, #image14, #image15, #image16, #image17, #image18, #image19, #image20, #image21, #image22, #image23, #image24 {
    border: solid 3px black;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(23, auto);
    grid-auto-flow: dense;
    grid-gap: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}

footer{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
}

#gallery{
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border: 3px solid black;
    margin-bottom: 15px;
    margin-top: 15px;
}

nav{
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin: 0;
}

nav ul{
    display: flex;
    padding: 3px;
    align-items: center;
    flex-direction: column-reverse; 
}

nav a{
    text-decoration: none;
    color: #FCFCFC;
}

nav a:hover{
    color: black;
    text-decoration: underline;
}

#current_page{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: 3px underline; 
}

#current_page:before{
    content: "\1F3BE";
}

#current_page:after{
    content: "\1F3BE";
}

nav a:focus{
    color: black;
}

nav.upper_links{
    width: 70%;
    background-color: rgb(25, 92, 134);
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    border-radius: 10px;
    margin: 0 auto;
}

nav.upper_links ul{
    border-right: 3px solid black;
    border-left: 3px solid black;
    justify-content: space-between;
    gap: 10px;
}

nav.upper_links li:last-child{
    border-right: none;
}

h1{
    padding: 20px 20px 10px 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

h2{
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

#crazy{
    border: 3px solid red;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

header p.intro_text{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 5px;
}

div.start p{
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

div.about_image img{
    width: 100%;
    height: auto;
    padding: 5px;
    
}

div.history p {
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

div.history_image{
    width: 100%;
    height: auto;
    padding: 5px;
}

div.intro_image{
    padding: 5px;
}

a.skip {
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -80px;
}
 
a.skip:focus, a.skip:active{
    position: static;
    z-index: 99;
}

*:focus{
    border: 2px solid;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;

}

.flip-card-front {
background-color: #bbb;
color: black;
}

.flip-card-back {
background-color: rgb(25, 92, 134);
color: white;
transform: rotateY(180deg);
text-align: center;
padding: 70px 0;
}

form {
    border: 3px solid #ffffff;
    margin-top: 10px;
    width: 80%;
margin: 0 auto;
}
  
legend { 
    font-size: 125%;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid black;
}

label {
    display: inline-block;
    width:20%;
    margin-left: 10%;
    font-weight: bold;
    border-bottom: 1px solid rgb(25, 92, 134);
    text-align: center;
}

input {
    width: 80%;
    padding: 12px 20px;
    display: block;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

span {
    margin-left:50%;
    font-family: italic;
}

textarea {
    width: 100%;
    height: 25vh;
    padding: 12px 12px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10px; 
}

input[type=radio]{
    display:inline;
    width:inherit;
}

input[type=submit] {
    background-color: rgb(25, 92, 134);
    color: white;
    padding: 20px 20px;
    margin: auto;
    border: 2px solid black;
    cursor: pointer;
    width: 100%;
    margin-top: 10px; 
    border-radius: 10px;
}

input[type=submit]:hover {
opacity: 0.8;
}

#special {
    text-decoration: none;
    border-bottom: none;
    text-align: center;
    margin: auto;
}


@media screen and (min-width: 760px){
    
    nav ul{
        margin: 0;
        flex-direction: row;
    }
    
    #current_page{
        transform: translate(0, 10px);
    }
    
    nav.upper_links li:hover{
        transform: translate(0, 5px);
    } 

    nav a:focus{
        color: black;
    }
    
    nav.upper_links{
        width: 80%;
    }

    
    nav.upper_links ul{
        gap: 8px;
    }
    
    nav.upper_links li:last-child{
        border-right: none;
    }

    .gallery{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(12, auto);
    }

    div.history p {
        text-align: left;
        margin-right: 200px;
        border-right: 5px solid black;
        padding-right: 7px;
        padding-left: 3px;
    }

    div.history_image img{
        width: 600px;
        margin-right: 35%;
    }

    div.intro_image img{
        margin: auto;
        display: block;
    }

    div.start p{
        margin-left: 200px;
        border-left: 5px solid black;
        padding-right: 3px;
        padding-left: 7px;
    }

    #scroll{
        
        height: 100px;
        overflow-y: scroll;
        
    }

    #scroll_less{
        
        height: 150px;
        overflow-y: scroll;
        
    }

    #para{
        background-attachment: fixed; /* Parallax effect */
        background-position: center; /* Parallax effect */
        background-size: cover; /* Parallax effect */
        color: black;
        height: 450px; /* Parallax effect */
        
        background-image: url('../imgs/intro_image.jpg');
        background-repeat: no-repeat;
      }

      div#para img{
          display: none;
      }
    
     
    div.about_image, div.intro_image {
        margin-left: 16%;
        margin-right: 16%;
        margin-top: 3%;
        border: 5px solid black;
    }
    div.about_image{
        border: none;
    }

    #noborder{
        border: none;
    }

    div.history_image{
        margin-left: 30%;
        margin-right: 16%;
        margin-top: 3%;
    }
    #change{
        display: grid;
        grid-template-columns: repeat(2, 318px);
        /* border: 3px solid black; */
        margin-top: 20px;
        margin-bottom: 40px;
      }

      #imgspec1{
          grid-column: 1 / 2;
      }
      #imgspec2{
          grid-column: 2 / 3;
      }

    

    #left{
        display: block;
        margin: auto;
    }
    


}

@media only screen and (min-width: 992px) {

    div.history p, div.start p {
        border: 1px solid black;
        margin-left: 20px;
    }
    

    /* display 3 collumns and then position pictures */
    .gallery{
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(8, auto);
        grid-gap: 20px;
        padding: 25px;
    }

    #image1:hover, #image2:hover, #image3:hover, #image4:hover, #image5:hover, #image6:hover, #image7:hover, #image8:hover, #image8:hover, #image9:hover, #image10:hover, #image11:hover, #image12:hover, #image13:hover, #image14:hover, #image15:hover, #image16:hover, #image17:hover, #image19:hover, #image20:hover, #image21:hover, #image22:hover, #image23:hover, #image24:hover{
        transform: translate(0, -20px);
        transform: translate3d(0, -20px, 0);
    }

    /* #image4{
        grid-area: 1 / 1;
    } */
    #image2{
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }

    #image16{
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }

    #image13{
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }

    #image15{
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }

    #image22{
        grid-row: 7 / 8;
        grid-column: 3 / 4;
    }

    nav.upper_links ul{
        justify-content: space-around;
    }

    #logo{
        animation-name: slidein;
        animation-duration: 10s;
        animation-iteration-count: 3;
        animation-direction: alternate;
        
    }

    @keyframes slidein {
        from{
            width: 50px;
            opacity: 0.2;
        }
        to{
            width: 400px;
            opacity: 1;
        }
        
    }

    .history_image{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }


    body {
        font-family: Arial, Helvetica, sans-serif;
      }

      #para{
        background-attachment: fixed; /* Parallax effect */
        background-position: center; /* Parallax effect */
        background-size: cover; /* Parallax effect */
        color: black;
        height: 450px; /* Parallax effect */
        
        background-image: url('../imgs/intro_image.jpg');
        background-repeat: no-repeat;
        border: none;
        margin: auto;
        
      }

      div#para img{
          display: none;
      }

      div.contact_text, div.contact_text{
          display: grid;
          grid-template-columns: repeat(2, 40%);
          margin-left: 20%;
      }
      div.contact_text{
          margin-bottom: 50px;
      }

      #change{
          grid-template-columns: repeat(1, 80%);
          border: none;
          
      }

      #imgspec2{
        display: none;
    }

    .video{
        display: none;
    }



}

/* hw6 */

@media (prefers-reduced-motion) {
    #para {
        background-attachment: scroll;
      }
    #scroll_less{
        overflow: hidden;
    }
    #logo{
        animation: none;
    }

    #image1:hover, #image2:hover, #image3:hover, #image4:hover, #image5:hover, #image6:hover, #image7:hover, #image8:hover, #image8:hover, #image9:hover, #image10:hover, #image11:hover, #image12:hover, #image13:hover, #image14:hover, #image15:hover, #image16:hover, #image17:hover, #image19:hover, #image20:hover, #image21:hover, #image22:hover, #image23:hover, #image24:hover{
        transform: none;
    }

    nav.upper_links li:hover{
        transform: none;
    }
    
    .flip-card-back, .flip-card-inner, .flip-card:hover .flip-card-inner{
        transform: none;
    }
}
